@font-face {
    font-family: 'RobotoTh';
    src: url(/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'RobotoL';
    src: url(/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'RobotoM';
    src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'RobotoB';
    src: url(/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'RobotoBl';
    src: url(/fonts/Roboto-Black.ttf);
}

html{
    scroll-behavior:smooth
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
    color: #fff;
}

body {
    background-color: #0A0E24;
}

.pad-sid-40 {
    padding: 0 40px;
}

.mar-top-60 {
    margin-top: 60px;
}

.pad-up-90 {
    padding-top: 90px;
}

.mar-top-30 {
    margin-top: 30px;
}

/*  Menu style  */

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background: #050712d9;
    z-index: 5;
}

.logo-wrapper img {
    max-width: 100px;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    
}

.menu-wrapper a {
    color: #DABD71;
    font-family: RobotoM;
    font-size: 18px;
    transition: all 0.2s;
    scroll-behavior: smooth;
}

.menu-wrapper a:hover {
    color: #ffd56a;
}

/* Hero style */

.hero-container {
    background: url(../img/header.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    position: relative;
}

.hero-wrapper-black {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}

.hero-container h1,
.hero-container a {
    z-index: 2;
}

.hero-container h1 {
    font-size: 4vw;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.gt-btn {
    color: #fff;
    border: 2px solid #DABD71;
    background-color: rgba(218, 189, 113, 0.32);
    padding: 8px 18px;
    transition: all 0.2s;
}

.gt-btn:hover {
    background-color: #DABD71;
}

.dwn-arrow {
    background: #dabd71;
    width: 35px;
    border-radius: 100%;
    padding: 8px;
}
.wrapper-of-hero {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin-top: 200px;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section h2 {
    padding-bottom: 30px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-wrapper,
.img-wrapper {
    width: 50%;
}

.text-wrapper {
    font-family: RobotoTh;
}

.img-wrapper {
    display: flex;
    justify-content: flex-end;
}

.img-wrapper img {
    width: 70%;
    -webkit-box-shadow: 6px 5px 13px -4px rgba(3,0,26,1);
-moz-box-shadow: 6px 5px 13px -4px rgba(3,0,26,1);
box-shadow: 6px 5px 13px -4px rgba(3,0,26,1);
}

.text-wrapper {
    width: 30%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    /* min-height: 240px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
  }

  .grid-item img,
  .grid-item h5 {
    padding-bottom: 10px;
  }
  
  .custom {
    grid-column: 1/1.5
  }

  .grid-item img {
    width: 50px;
  }

  .grid-item h5 {
    font-family: 'Roboto';
    font-weight: 400;
  }


  .grid-item p {
    font-size: 18px;
    width: 70%;
    font-family: 'RobotoTh';
  }

  .img-wrapper-l {
    justify-content: flex-start;
  }

  .divider-goldblur {
    width: 100%;
  }

  .divider-goldblur svg {
    width: 100%;
  }

  .up-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }

  .up-txt h4 {
    font-size: 40px;
  }

  .up-txt p {
    width: 50%;
    text-align: center;
    padding-top: 20px;
    font-family: RobotoTh;
  }

  .dwn-txt {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contact-left {
    display: flex;
    flex-direction: column;
}

.contact-left img {
  width: 25px;
}

.number,
.email,
.address {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-left,
.contact-right {
    width: 50%;
}

.contact-left {
    width: 30%;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-left div {
    padding-bottom: 25px;
}

.contact-right form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 200px;
    width: 100%;
}

.contact-right input,
.contact-right textarea {
    width: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #dabd71;
    padding: 10px;
}

div#services h2 {
    text-align: center;
    padding-bottom: 20px;
}

.btn {
    color: #fff;
    border: 2px solid #DABD71;
    background-color: rgba(218, 189, 113, 0.32);
    padding: 8px 18px;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #DABD71;
}


#successmessage {
    display: none;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #050712;
}

.right-side-footer img {
    width: 80px;
}

.contact-right {
    justify-content: flex-end;
    display: flex;
}

div#formcontact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.form-group {
    width: 55%;
}

.form-control input,
.form-control textarea {
    width: 100%;
    background: transparent;
    outline: none;
    border: 2px solid #dabd71;
    padding: 10px;
}

.form-group:not(:last-child) {
    padding-bottom: 15px;
}

.contact-left p {
    padding-left: 20px;
}

.form-group h5 {
    font-family: RobotoTh;
    padding-bottom: 3px;
}

.ham-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    flex-direction: column;
    background: none;
    outline: none;
    border: none;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s;
    position: absolute;
    right: 40px;
    display: none;
}

.ham-menu div {
    width: 40px;
    height: 3px;
    background-color: #dcbf76;
  }

.ham-menu:hover {
    animation: glitchMenu 1s linear both;
    animation-delay: 500ms;
}



@media (max-width: 600px) {
    .menu-wrapper {
        position: absolute;
        left: 0;
        width: 100%;
        top: 97px;
        min-height: 300px;
        background: #0a0e24;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 2px solid #dabd71;
        border-left: none;
        border-right: none;
        /* display: none; */
    }

    .menu-wrapper {
        transform: translateX(-145%);
        transition: transform 0.3s linear;
      }
      
      .menu-wrapper.hidden {
        transform: translateX(0%);
      }

    .ham-menu {
        display: flex;
    }
}

@media (max-width: 1024px) {
    .text-wrapper {
        width: 50%;
    }

    .form-group {
        width: 70%;
    }
}

@media (min-width: 600px) {
    .menu-wrapper {
        display: flex !important;
    }
}

@media (max-width: 767px) {
    .about-content {
        flex-direction: column;
    }
    .text-wrapper, 
    .img-wrapper {
        width: 100%;
    }

    .img-wrapper img {
        width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .up-txt p {
        width: 100%;
    }

    .dwn-txt {
        flex-direction: column;
    }

    .contact-left,
    .contact-right {
        width: 100%;
    }

    #formcontact {
        align-items: flex-start !important;
    }

    .grid-item {
        padding: 15px 0px;
    }

    .grid-item p {
        width: 100%;
    }

    .img-wrapper-l {
        margin-bottom: 25px;
    }

    .img-wrapper img {
        margin-top: 25px;
    }

    .hero-container h1 {
        font-size: 35px;
    }

    .hero-container {
        height: 70vh;
    }

    .wrapper-of-hero {
        /* height: 50%; */
        /* margin-top: 100px; */
    }

    .menu-container {
        padding: 0 10px 0 10px;
    }

    .ham-menu {
        right: 20px;
    }

    .wrapper-of-hero {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
    
    .wrapper-of-hero h1,
    .wrapper-of-hero a {
        margin-bottom: 40px;
    }

    .form-group {
        width: 100%;
    }
}

#successmessage h3 {
    font-family: 'RobotoTh';
}

.loading-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    font-size: 12px;
}

.left-side-footer h4 {
    font-family: 'RobotoTh';
}

.content {
    display: none;
}

:root {
	--hue: 223;
	--bg: hsl(var(--hue),10%,90%);
	--fg: hsl(var(--hue),10%,10%);
    --pr-color:#fff;
	/* font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320)); */
}

.pl {
	display: block;
	width: 6.25em;
	height: 6.25em;
}
.pl__ring, .pl__ball {
	animation: ring 2s ease-out infinite;
    stroke: #DABD71
}
.pl__ball {
	animation-name: ball;
}

/* Dark theme  */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),10%,10%);
		--fg: hsl(var(--hue),10%,90%);
	}
}

/* Animation */
@keyframes ring {
	from {
		stroke-dasharray: 0 257 0 0 1 0 0 258;
	}
	25% {
		stroke-dasharray: 0 0 0 0 257 0 258 0;
	}
	50%, to {
		stroke-dasharray: 0 0 0 0 0 515 0 0;
	}
}
@keyframes ball {
	from, 50% {
		animation-timing-function: ease-in;
		stroke-dashoffset: 1;
	}
	64% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -109;
	}
	78% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -145;
	}
	92% {
		animation-timing-function: ease-in;
		stroke-dashoffset: -157;
	}
	57%, 71%, 85%, 99%, to {
		animation-timing-function: ease-out;
		stroke-dashoffset: -163;
	}
}

.animate__animated .animate__fadeInUp {
    --animate-delay: 0.9s;
  }